main{
    margin-top: 40px;
}
.clamped-text {
  display: -webkit-box;
  -webkit-line-clamp: 10; /* Set the desired number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}