*{
    margin: 0;
}

.header{
    /* background-color: #0b2239; */
    color: white;
    justify-content: left;
    align-items: center;
    position: sticky;
    height: 70px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid gray;
}

.header-logo a{
    font-size: 200%;
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-collapse{
    margin-left: 5%;
    display: flex;  
    margin-right: 0;
}

.header-navigation ul li a{
    text-decoration: none;
    color: white;
    width: 60px;
}
.header-account{
    margin-right: 5%; 
}
#account-thumb{
    width: 30px;height: 30px;
    background-color: tomato;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.dropdown-toggle::after{
    display: none;
}
.header-CTA{
    margin-left: auto;
}
.header-CTA button{
    width: 120px;
    height: 40px;
    background-color: #1a56db;
    color: white;
    border: none;
    border-radius: 10px;
}
.navbar-nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-item a{
    color: black;
    padding-top: 0;
}
.nav-item.active a{
    color: blue;
    transition: 500ms;
}
.nav-item{
    text-align: center;
}
.nav-item i{
    color: black;
    opacity: 0.6;
    font-size: 130%;
    margin: auto;
    transition: 400ms ease;
}
.nav-item:hover i, .active i{
    opacity: 1;
    font-size: 140%;
}
.nav-item:hover a{
    color: blue;
}