main{
    margin-top: 40px;
}
.clamped-text {
  max-height: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 1s linear;
}

/*.card-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}*/
/*.card{
    width: 40%;
}*/